.container {
  @apply p-2 h-screen w-full;
  @apply flex flex-col justify-between items-center;
}

.header {
  @apply flex flex-1;
}

.main {
  @apply flex w-full flex-[5] flex-col items-center;
}

.links {
}

.pattern {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient(
    45deg,
    #444cf7,
    #444cf7 5px,
    #e5e5f7 5px,
    #e5e5f7 25px
  );
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gradient {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.username {
  @apply flex text-2xl font-bold my-2 justify-center items-center text-white;
}

.footer {
  @apply flex w-full justify-center items-center text-white;
}

.social {
  @apply flex flex-row justify-center items-center p-2 text-white;
}

.icon {
  @apply mx-2 text-2xl text-white;
}
